<h2>Gestión de Usuarios</h2>

<input [(ngModel)]="nombre" name="nombre" placeholder="Nombre" />

<button (click)="agregarUsuario()">Agregar</button>
<button (click)="listarUsuarios()">Listar</button>

<p [ngStyle]="{ 'color': listUsuarios.length === 0 ? 'red' : 'green' }">
  Total usuarios: {{ listUsuarios.length }}
</p>

<hr>

<ul *ngIf="listUsuarios.length > 0; else noData">
  <li *ngFor="let u of listUsuarios; index as idx">
    {{ idx + 1 }} - <strong>{{ u.nombre }}</strong>
    
    <button (click)="eliminarUsuario(u.id!)" *ngIf="u.id" 
            style="margin-left: 15px; color: white; background-color: darkred; border: none; cursor: pointer;">
      Eliminar
    </button>
  </li>
</ul>

<ng-template #noData>
  <p>No hay usuarios registrados en el sistema.</p>
</ng-template>